body{
    background: url("../images/bg.png");
    font-family: 'Oswald', sans-serif;
}
.container{
    width:960px;
    margin:0 auto;
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
.upper, .footer{
    background: #7e7e7e;
}
.upper{
    height: 5px;

}
.header{
    padding-top: 23px;
}
.top{
    margin-bottom: 23px;
}
.logo{
    width:161px;
    height:38px;
    background: url("../images/logo.png") no-repeat;
    float:left;
}
#search{
    float:right;
    font-size: 0;
}
#search input[type=search]{
    background-color: #f3f3f3;
    border:1px solid #e7e7e7;
    border-right:none;
    font-family: "Tahoma";
    font-size: 12px;
    padding: 9px;
    color:#b2b2b2;
}

#search input[type=submit]{
    background: #29c5e6;
    padding: 9px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;

    border:none;
    outline: none;
}